apiVersion: v2
name: qualytics
description: A Helm chart for deploying Qualytics on Kubernetes
type: application
version: 2026.2.21
appVersion: 2026.2.21
dependencies:
- name: spark-operator
  version: 2.4.0
  repository: "https://kubeflow.github.io/spark-operator"
  alias: sparkoperator
  condition: sparkoperator.enabled
- name: ingress-nginx
  version: 4.14.2
  repository: "https://kubernetes.github.io/ingress-nginx"
  alias: nginx
  condition: nginx.enabled
- name: cert-manager
  version: 1.19.2
  repository: "https://charts.jetstack.io"
  alias: certmanager
  condition: certmanager.enabled
